<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pcshao.grant.common.dao.GrantRolePermissionMapper">
  <resultMap id="BaseResultMap" type="cn.pcshao.grant.common.entity.GrantRolePermission">
    <id column="role_permission_id" jdbcType="BIGINT" property="rolePermissionId" />
    <result column="role_id" jdbcType="SMALLINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    <selectKey keyProperty="rolePermissionId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into grant_role_permission (role_id, permission_id)
    values (#{roleId,jdbcType=SMALLINT}, #{permissionId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    update grant_role_permission
    set role_id = #{roleId,jdbcType=SMALLINT},
      permission_id = #{permissionId,jdbcType=BIGINT}
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
  </select>
  <resultMap id="BaseResultMap" type="cn.pcshao.grant.common.entity.GrantRolePermission">
    <id column="role_permission_id" jdbcType="BIGINT" property="rolePermissionId" />
    <result column="role_id" jdbcType="SMALLINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    <selectKey keyProperty="rolePermissionId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into grant_role_permission (role_id, permission_id)
    values (#{roleId,jdbcType=SMALLINT}, #{permissionId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    update grant_role_permission
    set role_id = #{roleId,jdbcType=SMALLINT},
      permission_id = #{permissionId,jdbcType=BIGINT}
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
  </select>
  <resultMap id="BaseResultMap" type="cn.pcshao.grant.common.entity.GrantRolePermission">
    <id column="role_permission_id" jdbcType="BIGINT" property="rolePermissionId" />
    <result column="role_id" jdbcType="SMALLINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    <selectKey keyProperty="rolePermissionId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into grant_role_permission (role_id, permission_id)
    values (#{roleId,jdbcType=SMALLINT}, #{permissionId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    update grant_role_permission
    set role_id = #{roleId,jdbcType=SMALLINT},
      permission_id = #{permissionId,jdbcType=BIGINT}
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
  </select>
  <resultMap id="BaseResultMap" type="cn.pcshao.grant.common.entity.GrantRolePermission">
    <id column="role_permission_id" jdbcType="BIGINT" property="rolePermissionId" />
    <result column="role_id" jdbcType="SMALLINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    <selectKey keyProperty="rolePermissionId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into grant_role_permission (role_id, permission_id)
    values (#{roleId,jdbcType=SMALLINT}, #{permissionId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    update grant_role_permission
    set role_id = #{roleId,jdbcType=SMALLINT},
      permission_id = #{permissionId,jdbcType=BIGINT}
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
  </select>
  <resultMap id="BaseResultMap" type="cn.pcshao.grant.common.entity.GrantRolePermission">
    <id column="role_permission_id" jdbcType="BIGINT" property="rolePermissionId" />
    <result column="role_id" jdbcType="SMALLINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    <selectKey keyProperty="rolePermissionId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into grant_role_permission (role_id, permission_id)
    values (#{roleId,jdbcType=SMALLINT}, #{permissionId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    update grant_role_permission
    set role_id = #{roleId,jdbcType=SMALLINT},
      permission_id = #{permissionId,jdbcType=BIGINT}
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
  </select>
  <resultMap id="BaseResultMap" type="cn.pcshao.grant.common.entity.GrantRolePermission">
    <id column="role_permission_id" jdbcType="BIGINT" property="rolePermissionId" />
    <result column="role_id" jdbcType="SMALLINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    <selectKey keyProperty="rolePermissionId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into grant_role_permission (role_id, permission_id)
    values (#{roleId,jdbcType=SMALLINT}, #{permissionId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    update grant_role_permission
    set role_id = #{roleId,jdbcType=SMALLINT},
      permission_id = #{permissionId,jdbcType=BIGINT}
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
  </select>
  <resultMap id="BaseResultMap" type="cn.pcshao.grant.common.entity.GrantRolePermission">
    <id column="role_permission_id" jdbcType="BIGINT" property="rolePermissionId" />
    <result column="role_id" jdbcType="SMALLINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    <selectKey keyProperty="rolePermissionId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into grant_role_permission (role_id, permission_id)
    values (#{roleId,jdbcType=SMALLINT}, #{permissionId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.pcshao.grant.common.entity.GrantRolePermission">
    update grant_role_permission
    set role_id = #{roleId,jdbcType=SMALLINT},
      permission_id = #{permissionId,jdbcType=BIGINT}
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
    where role_permission_id = #{rolePermissionId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_permission_id, role_id, permission_id
    from grant_role_permission
  </select>
</mapper>