<!DOCTYPE html>
<html>
<head>
    <title>404错误</title>
    <link rel="stylesheet" href="/static/css/fonticon/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body id="error404">
<div class="content">
    <div><i class="iconfont icon-icon-404"></i></div>
    <div class="midText">非常抱歉，您访问的页面没有找到</div>
    <div class="back"><a onclick="back()" class="backBtn">返回上级</a></div>
</div>
<script>
    function back() {
        history.go(-1);
    }
</script>
</body>
</html>
