<!DOCTYPE html>
<html>
<head>
    <title>500错误</title>
    <link rel="stylesheet" href="/static/css/fonticon/iconfont.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body id="error404">
<div class="content">
    <div><i class="iconfont icon-icon-500"></i></div>
    <div class="midText">非常抱歉，系统内部错误，您可以联系管理员</div>
    <div class="back"><a onclick="back()" class="backBtn">返回上级</a></div>
</div>
<script>
    function back() {
        history.go(-1);
    }
</script>
</body>
</html>
