<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/layui-v2.4.3/layui.js"></script>
</head>
<script type="application/javascript">
    //主动加载jquery模块
    layui.use(['layer', 'form'], function() {
        var $ = layui.$ //重点处
            , layer = layui.layer;
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(fromData){
            //发送表单ajax请求
                $.ajax({
                    url: "/user/login",
                    type: "POST",
                    data: JSON.stringify(fromData.field),
                    contentType: "application/json",
                    success: function (res) {
                        if(10 == res.code) {
                            window.location.href = res.data;
                        }
                        else
                            layer.msg("请检查用户名或密码！");
                    }
                });
        });
    });
</script>
<body class="login_body">
<div class="login_form">
    <form class="layui-form" action="javascript:">
        <input type="text" name="username" lay-verify="required" placeholder="用户名">
        <input type="password" name="password" lay-verify="required"  placeholder="密码">
        <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
    </form>
</div>
</body>
</html>